
:root {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

#box {
    width: 600px;
    height: 500px;
    position: absolute;
    left: 200px;
    top: 100px;
    background-image: url("avengers-marvel.png"); 
    background-position:center;
    background-repeat: no-repeat;
    background-color: black;
}